<%= form_with(model: polyline) do |form| %>
  <% if polyline.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(polyline.errors.count, "error") %> prohibited this polyline from being saved:</h2>

      <ul>
        <% polyline.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :encoding, style: "display: block" %>
    <%= form.text_field :encoding %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
