<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :title, placeholder:"TITLE"%>
  </div>

  <div>
    <%= form.text_area :body, placeholder:"DESCRIPTION" %>
  </div>

  <div>
    <%= form.text_field :lat, placeholder:"LAT" %>
  </div>

  <div>
    <%= form.text_field :lng, placeholder:"LNG" %>
  </div>

  <div>
    <%= form.label :time, style: "display: block; color: white;" %>
    <%= form.datetime_field :time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
