<div id="<%= dom_id report %>">
  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= report.body %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= report.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= report.lng %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= report.time %>
  </p>

</div>
